.create-button {
    -fx-background-color: transparent;
    -fx-cursor: hand;
    -fx-text-fill: white;
    -fx-border-color: white;
    -fx-border-width: .5px;
}

.create-button:hover {
    -fx-background-color: #9d9d9d;
    -fx-text-fill: black;
}

.login-button {
    -fx-background-color: linear-gradient(to bottom, gold, black)
}

.login-button:hover {
    -fx-background-color: linear-gradient(to bottom, rgba(255, 215, 0, 0.89), rgba(0, 0, 0, 0.51))
}